.sidebar+.main-content {
    margin-left: 190px;
}

.sidebar.menu-min+.main-content {
    margin-left: 43px;
}

.sidebar~.footer .footer-inner {
    left: 190px;
}

.sidebar.menu-min~.footer .footer-inner {
    left: 43px;
}

.sidebar .sidebar-shortcuts-large>.btn {
    text-align: center;
    width: 41px;
    line-height: 24px;
    padding: 0px;
    border-width: 3px;
    margin: 2px;
}